@model InquiadTradingApp.Models.Product
@{
    ViewData["Title"] = "Stocks";
}

@section Css {
    @{await Html.RenderPartialAsync("_DataTableCssPartial");}
}

@section Sole {
    <style>


        .table tr th:last-child {
            width: 50px;
        }

        .table tr th {
            text-align: center;
        }

        .table tr td {
            text-align: center;
        }
    </style>
}

<div class="container-fluid mt-4">
    <div class="card animated fadeIn overflow-hidden">


        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">@ViewBag.WareHouse.Name</h3>
                </div>

            </div>
        </div>


        <div class="card-body px-0 pb-2">
            <div class="">
                <table class="table align-items-center  table-striped table-bordered" id="datatable-basic">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Purchase Vouchar No
                            </th>
                            <th>
                                Product Name
                            </th>

                            <th>
                                Current Stock (Pack)s
                            </th>
                            <th>
                                Current Stock (Ton)s
                            </th>

                            <th class="text-center">
                                Action
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.StockItems)
                        {
                        <tr>
                            <td>
                                @item.PurchaseVoucharNo
                            </td>
                            <td>
                                @item.ProductName
                            </td>

                            <td>
                                @item.CurrentStockPack @item.PackSizeName
                            </td>
                            <td>
                                @item.CurrentStockTon Ton(s)
                            </td>
                            <td class="text-center">
                                <div class="btn-group">


                                    <a class="btn btn-greenyellow btn-sm" asp-controller="Purchases" asp-action="GetPurchaseDetails" asp-route-purchaseId="@item.PurchaseId">Details</a>

                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/jquery.dataTables.min.js"></script>
    <script asp-append-version="true" type="text/javascript" src="~/vendor/datatable/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
